<a href="https://colab.research.google.com/github/Elish-Ab/AI_Mastery_10x_Week6/blob/main/Task_3_week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
!pip install sidetable
import sidetable

Collecting sidetable
  Downloading sidetable-0.9.1-py3-none-any.whl.metadata (45 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.4/45.4 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.10/dist-packages (from sidetable) (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->sidetable) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->sidetable) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->sidetable) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0->sidetable) (1.16.0)
Downloading sidetable-0.9.1-py3-none-any.whl (19 kB)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.1

In [14]:
df = pd.read_csv('data.csv')

droping value columns

In [15]:
df.drop(columns=['Value'], axis= 1,inplace=True)

In [16]:
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,2018-11-15T03:34:21Z,2,0

Sum of all transaction amounts for each customer.

In [34]:
df.stb.freq(['P'])

     ChannelId  count    percent  cumulative_count  cumulative_percent
0  ChannelId_3  56935  59.516841             56935           59.516841
1  ChannelId_2  37141  38.825239             94076           98.342079
2  ChannelId_5   1048   1.095524             95124           99.437603
3  ChannelId_1    538   0.562397             95662          100.000000

In [19]:
df.groupby('CustomerId').Amount.sum().sort_values(ascending=False)

CustomerId
CustomerId_909      83451240.0
CustomerId_1535     60212748.0
CustomerId_4878     50804960.0
CustomerId_5155     29726020.0
CustomerId_4453     29294460.0
                      ...
CustomerId_7429      -520000.0
CustomerId_7401      -600000.0
CustomerId_7339     -1700000.0
CustomerId_7338     -2760000.0
CustomerId_7343   -104900000.0
Name: Amount, Length: 3742, dtype: float64

Average transaction amount per customer

In [21]:
df.groupby('CustomerId').Amount.mean().sort_values(ascending=False)

CustomerId
CustomerId_1535    8.601821e+06
CustomerId_1353    2.000000e+06
CustomerId_3956    2.000000e+06
CustomerId_1122    1.850000e+06
CustomerId_1850    1.509988e+06
                       ...
CustomerId_7423   -2.000000e+05
CustomerId_7429   -2.600000e+05
CustomerId_7401   -3.000000e+05
CustomerId_7338   -3.066667e+05
CustomerId_7339   -4.250000e+05
Name: Amount, Length: 3742, dtype: float64

Number of transactions per customer.

In [22]:
df.groupby('CustomerId').TransactionId.count().sort_values(ascending=False)

CustomerId
CustomerId_7343    4091
CustomerId_3634    2085
CustomerId_647     1869
CustomerId_1096     784
CustomerId_4033     778
                   ...
CustomerId_3231       1
CustomerId_322        1
CustomerId_3214       1
CustomerId_5179       1
CustomerId_1          1
Name: TransactionId, Length: 3742, dtype: int64

Variability of transaction amounts per customer.

In [24]:
df.groupby('CustomerId').Amount.std().sort_values(ascending=False)

CustomerId
CustomerId_1535    3.309916e+06
CustomerId_4925    2.132209e+06
CustomerId_2303    1.896618e+06
CustomerId_2292    1.542946e+06
CustomerId_909     1.297279e+06
                       ...
CustomerId_961              NaN
CustomerId_967              NaN
CustomerId_975              NaN
CustomerId_989              NaN
CustomerId_991              NaN
Name: Amount, Length: 3742, dtype: float64

In [25]:
import datetime as dt

In [27]:
dt = pd.to_datetime(df['TransactionStartTime']).dt

Extract Features

In [29]:
df['year'] = dt.year
df['month'] = dt.month
df['day'] = dt.day
df['hour'] = dt.hour