<a href="https://colab.research.google.com/github/Elish-Ab/AI_Mastery_10x_Week6/blob/main/notebooks/Task_3_week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
!pip install sidetable
import sidetable

Requirement already satisfied: sidetable in /usr/local/lib/python3.10/dist-packages (0.9.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.10/dist-packages (from sidetable) (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->sidetable) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->sidetable) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->sidetable) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0->sidetable) (1.16.0)

In [ ]:
df = pd.read_csv('data.csv')

droping value columns

In [ ]:
df.drop(columns=['Value'], axis= 1,inplace=True)

In [ ]:
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,2018-11-15T03:34:21Z,2,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  TransactionStartTime  95662 non-null  object
 13  PricingStrategy       95662 non-null  int64
 14  FraudResult           95662 non-null  int64
dtypes: float64(1), int64(3), object(11)
memory usage: 10.9+ MB

Sum of all transaction amounts for each customer.

In [ ]:
df.groupby('CustomerId').Amount.sum().sort_values(ascending=False)

CustomerId
CustomerId_909      83451240.0
CustomerId_1535     60212748.0
CustomerId_4878     50804960.0
CustomerId_5155     29726020.0
CustomerId_4453     29294460.0
                      ...
CustomerId_7429      -520000.0
CustomerId_7401      -600000.0
CustomerId_7339     -1700000.0
CustomerId_7338     -2760000.0
CustomerId_7343   -104900000.0
Name: Amount, Length: 3742, dtype: float64

Average transaction amount per customer

In [ ]:
df.groupby('CustomerId').Amount.mean().sort_values(ascending=False)

CustomerId
CustomerId_1535    8.601821e+06
CustomerId_1353    2.000000e+06
CustomerId_3956    2.000000e+06
CustomerId_1122    1.850000e+06
CustomerId_1850    1.509988e+06
                       ...
CustomerId_7423   -2.000000e+05
CustomerId_7429   -2.600000e+05
CustomerId_7401   -3.000000e+05
CustomerId_7338   -3.066667e+05
CustomerId_7339   -4.250000e+05
Name: Amount, Length: 3742, dtype: float64

Number of transactions per customer.

In [ ]:
df.groupby('CustomerId').TransactionId.count().sort_values(ascending=False)

CustomerId
CustomerId_7343    4091
CustomerId_3634    2085
CustomerId_647     1869
CustomerId_1096     784
CustomerId_4033     778
                   ...
CustomerId_3231       1
CustomerId_322        1
CustomerId_3214       1
CustomerId_5179       1
CustomerId_1          1
Name: TransactionId, Length: 3742, dtype: int64

Variability of transaction amounts per customer.

In [ ]:
df.groupby('CustomerId').Amount.std().sort_values(ascending=False)

CustomerId
CustomerId_1535    3.309916e+06
CustomerId_4925    2.132209e+06
CustomerId_2303    1.896618e+06
CustomerId_2292    1.542946e+06
CustomerId_909     1.297279e+06
                       ...
CustomerId_961              NaN
CustomerId_967              NaN
CustomerId_975              NaN
CustomerId_989              NaN
CustomerId_991              NaN
Name: Amount, Length: 3742, dtype: float64

In [ ]:
import datetime as dt

In [ ]:
dt = pd.to_datetime(df['TransactionStartTime']).dt

Extract Features

In [ ]:
df['year'] = dt.year
df['month'] = dt.month
df['day'] = dt.day
df['hour'] = dt.hour

Encoding catergorical data

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Create a label encoder
label_encoder = LabelEncoder()

# Fit and transform the ProductCategory column
df['ProductCategory_encoded'] = label_encoder.fit_transform(df['ProductCategory'])

In [ ]:
# Check if the columns are present before dropping them
print(df.columns)

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'TransactionStartTime',
       'PricingStrategy', 'FraudResult', 'year', 'month', 'day', 'hour',
       'ProductCategory_encoded'],
      dtype='object')

In [ ]:
# Drop the columns
df = df.drop(['CurrencyCode', 'TransactionStartTime', 'CountryCode'], axis=1)

In [ ]:
# Extract numeric part from TransactionId
df['TransactionId'] = df['TransactionId'].str.extract('(\d+)').astype(int)
df['BatchId'] = df['BatchId'].str.extract('(\d+)').astype(int)
df['AccountId'] = df['AccountId'].str.extract('(\d+)').astype(int)
df['SubscriptionId'] = df['SubscriptionId'].str.extract('(\d+)').astype(int)
df['CustomerId'] = df['CustomerId'].str.extract('(\d+)').astype(int)
df['ProviderId'] = df['ProviderId'].str.extract('(\d+)').astype(int)
df['ProductId'] = df['ProductId'].str.extract('(\d+)').astype(int)
df['ChannelId'] = df['ChannelId'].str.extract('(\d+)').astype(int)

In [ ]:
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId,Amount,PricingStrategy,FraudResult,year,month,day,hour,ProductCategory_encoded
0,76871,36123,3957,887,4406,6,10,airtime,3,1000.0,2,0,2018,11,15,2,0
1,73770,15642,4841,3829,4406,4,6,financial_services,2,-20.0,2,0,2018,11,15,2,2
2,26203,53941,4229,222,4683,6,1,airtime,3,500.0,2,0,2018,11,15,2,0
3,380,102363,648,2185,988,1,21,utility_bill,3,20000.0,2,0,2018,11,15,3,8
4,28195,38780,4841,3829,988,4,6,financial_services,2,-644.0,2,0,2018,11,15,3,2

In [ ]:
df.drop(columns=['ProductCategory'], axis= 1,inplace=True)

In [ ]:
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ChannelId,Amount,PricingStrategy,FraudResult,year,month,day,hour,ProductCategory_encoded
0,76871,36123,3957,887,4406,6,10,3,1000.0,2,0,2018,11,15,2,0
1,73770,15642,4841,3829,4406,4,6,2,-20.0,2,0,2018,11,15,2,2
2,26203,53941,4229,222,4683,6,1,3,500.0,2,0,2018,11,15,2,0
3,380,102363,648,2185,988,1,21,3,20000.0,2,0,2018,11,15,3,8
4,28195,38780,4841,3829,988,4,6,2,-644.0,2,0,2018,11,15,3,2

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Define the features to scale
features_to_scale = ['Amount', 'year', 'month', 'day', 'hour']

# Handling negative values in Amount (if normalization is chosen)
df['Amount'] = df['Amount'].clip(lower=0)  # Clip negative values to zero

# Normalize the features
scaler_min_max = MinMaxScaler()
df_normalized = df.copy()
df_normalized[features_to_scale] = scaler_min_max.fit_transform(df[features_to_scale])

print("Normalized Data:")
print(df_normalized[features_to_scale])

# Standardize the features (This method can naturally handle negative values)
scaler_standard = StandardScaler()
df_standardized = df.copy()
df_standardized[features_to_scale] = scaler_standard.fit_transform(df[features_to_scale])

print("\nStandardized Data:")
print(df_standardized[features_to_scale])

Normalized Data:
         Amount  year     month       day      hour
0      0.000101   0.0  0.909091  0.466667  0.086957
1      0.000000   0.0  0.909091  0.466667  0.086957
2      0.000051   0.0  0.909091  0.466667  0.086957
3      0.002024   0.0  0.909091  0.466667  0.130435
4      0.000000   0.0  0.909091  0.466667  0.130435
...         ...   ...       ...       ...       ...
95657  0.000000   1.0  0.090909  0.400000  0.391304
95658  0.000101   1.0  0.090909  0.400000  0.391304
95659  0.000000   1.0  0.090909  0.400000  0.391304
95660  0.000304   1.0  0.090909  0.400000  0.434783
95661  0.000000   1.0  0.090909  0.400000  0.434783

[95662 rows x 5 columns]

Standardized Data:
         Amount      year     month       day      hour
0     -0.059304 -0.994246  0.848684 -0.100739 -2.155530
1     -0.067442 -0.994246  0.848684 -0.100739 -2.155530
2     -0.063373 -0.994246  0.848684 -0.100739 -2.155530
3      0.095314 -0.994246  0.848684 -0.100739 -1.949214
4     -0.067442 -0.994246  0.848684 -0.100739 -1.949214
...         ...       ...       ...       ...       ...
95657 -0.067442  1.005787 -0.874040 -0.323884 -0.711319
95658 -0.059304  1.005787 -0.874040 -0.323884 -0.711319
95659 -0.067442  1.005787 -0.874040 -0.323884 -0.711319
95660 -0.043029  1.005787 -0.874040 -0.323884 -0.505004
95661 -0.067442  1.005787 -0.874040 -0.323884 -0.505004

[95662 rows x 5 columns]